*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.ch1{
    height: 170px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ch1:hover{
    cursor: pointer;
    background-color: #081b31;
    border-radius: 50%;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;   
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;    
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top:  3%;
    gap : 6rem;
    font-weight: bold;
    color : #081b31;
}

#user-score , #comp-score{
    font-size: 4rem;
  
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 5rem;
}

.message{
    margin-top: 5rem;
}
